name: Test 
on: push
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Action
        uses: ./
        with:
          project: 'Test Project'
          webhook: ${{ secrets.SLACK_WEBHOOK }}
          environment: 'staging'
          result: ${{ job.status }}
          author: ${{ github.event.pull_request_user.login }}
          departure: ${{ github.event.pull_request.title }}