name: Test 
on:
  pull_request:
    types: [opened, ready_for_review]
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Action
        uses: ./
        with:
          project: 'Test Project'
          webhook: ${{ secrets.SLACK_WEBHOOK }}
          environment: 'staging'
          result: ${{ job.status }}
          author: ${{ github.event.pull_request.user.login }}
          departure: ${{ github.event.pull_request.title }}